<h1>Followers</h1>

<div class="card-columns" style="font-size: 0.8em; text-align: center">
  <% @followings.each do |following| %>
    <%= render 'friendships/friendship', friendship: following, user: following.user %>
  <% end %>
</div>
