<h1>Friends</h1>

<div class="card-columns" style="font-size: 0.8em; text-align: center">
  <% @friendships.each do |friendship| %>
    <%= render 'friendship', friendship: friendship, user: friendship.friend %>
  <% end %>
</div>
